*{
    padding:0;
    margin:0;
}
ul{
    list-style-position:inside;
}

table{
    background-color:#cccccc;
}
table th{
    background-color:#E6E6E6;
    padding:10px;
}

table td{
    background-color:#fff;
    padding:10px;
}
table td.gray{
    background-color:#E6E6E6;
}

#com-admin{
    font-size:90%;
    padding:10px;
    margin:0;
}
#com-admin h1{
    font-size:100%;
    border-bottom:1px solid #cccccc;
    padding-bottom:15px;
}
#com-admin h2{
    font-size:100%;
    padding:10px 0;
}

.com-error-message{
    color:red;
    margin-bottom:10px;
}

.com-pager{
    margin-bottom:5px;
}

.act-link{
    margin-bottom:10px;
}

